{% extends 'base_layout.html' %}

{% block body %}
</div> <!-- To escape container -->

{% if is_mobile %}
<div id="main_navbar" class="d-flex flex-column mb-3 bd-highlight justify-content-center">
{% else %}
<div id="main_navbar" class="d-flex flex-row mb-3 bd-highlight justify-content-center">
{% endif %}
	<div id="menu_button_tasks" data-name="tasks" class="p-4 bd-hightlight" onclick="menu_clicked(this)"><a href="#" class="nav-link"><h4>Tasks</h4></a></div>
	{% if is_mobile %}
    	<br>
	{% endif %}
	<div id="menu_button_projects" data-name="projects" class="p-4 bd-hightlight" onclick="menu_clicked(this)"><a href="#" class="nav-link"><h4>Projects</h4></a></div>
	{% if is_mobile %}
    	<br>
	{% endif %}
	<div id="menu_button_issues" data-name="issues" class="p-4 bd-hightlight" onclick="menu_clicked(this)"><a href="#" class="nav-link"><h4>Issues</h4></a></div>
	{% if is_mobile %}
    	<br>
	{% endif %}
	<div id="menu_button_user" data-name="user" class="p-4 bd-hightlight" onclick="menu_clicked(this)"><a href="#" class="nav-link"><h4>User validation</h4></a></div>
	{% if is_mobile %}
    	<br>
	{% endif %}
	<div id="menu_button_add_project" data-name="add_project" class="p-4 bd-hightlight" onclick="menu_clicked(this)"><a href="#" class="nav-link"><h4>Add project</h4></a></div>
</div>
<div class="container" id="view_pane">
	<div id="task_view" style="display: none;">
		{% include 'admin_tasks.html' %}
	</div>
	<div id="projects_view" style="display: none;">
		{% include 'admin_projects.html' %}
	</div>
	<div id="issues_view">
		{% include 'admin_issues.html' %}
	</div>
	<div id="user_view" style="display: none;">
		{% include 'admin_user_validation.html' %}
	</div>
	<div id="add_project_view" style="display: none;">
		{% include 'admin_add_project.html' %}
	</div>
</div>
<div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	function menu_clicked(event) {
		switch (event.dataset["name"]){
			case "tasks":
				document.getElementById('task_view').style.display = 'block';
				document.getElementById('projects_view').style.display = 'none';
				document.getElementById('issues_view').style.display = 'none';
				document.getElementById('user_view').style.display = 'none';
				document.getElementById('add_project_view').style.display = 'none';
				break;
			case "projects":
				document.getElementById('task_view').style.display = 'none';
				document.getElementById('projects_view').style.display = 'block';
				document.getElementById('issues_view').style.display = 'none';
				break;
			case "issues":
				document.getElementById('task_view').style.display = 'none';
				document.getElementById('projects_view').style.display = 'none';
				document.getElementById('issues_view').style.display = 'block';
				break;
			case "user":
				document.getElementById('task_view').style.display = 'none';
				document.getElementById('projects_view').style.display = 'none';
				document.getElementById('issues_view').style.display = 'none';
				document.getElementById('user_view').style.display = 'block';
				document.getElementById('add_project_view').style.display = 'none';
				break;
			case "add_project":
				document.getElementById('task_view').style.display = 'none';
				document.getElementById('projects_view').style.display = 'none';
				document.getElementById('issues_view').style.display = 'none';
				document.getElementById('user_view').style.display = 'none';
				document.getElementById('add_project_view').style.display = 'block';
				break;
		}
	}
</script>
{% endblock %}
