<h1>Tasks</h1>
<hr><br>
{% include 'filter_tasks.html' %}
<div style="border: inset gray 1px;height:595px; overflow-y: scroll;">
	{% for element in tasks %}
		{% if element.progress == "Yet to start" %}
			<div class="card filterable_tasks" data-progress="Yet to start" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:lightgray;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "In Progress" %}
			<div class="card filterable_tasks" data-progress="In Progress" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:#ffa500b3;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "On-Hold" %}
			<div class="card filterable_tasks" data-progress="On-Hold" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:#ff00bf4d;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "Testing" %}
			<div class="card filterable_tasks" data-progress="Testing" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:cadetblue;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "Under Review" %}
			<div class="card filterable_tasks" data-progress="Under Review" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:chartreuse;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "Completed" %}
			<div class="card filterable_tasks" data-progress="Completed" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:lightgreen;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "Fixing bugs" %}
			<div class="card filterable_tasks" data-progress="Fixing bugs" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:#3800ff78;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% elif element.progress == "Released" %}
			<div class="card filterable_tasks" data-progress="Released" data-type="tasks" style="padding:5px 5px 0px 5px"><div class="card-body" style="background:gold;border-radius:5px;">{{ element.content }}<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update_task_view{{element.tid}}" style="float:right;max-height:50px">Update</button></div></div>
		{% endif %}
		{% include 'update_task_status_form.html' %}
	{% endfor %}
</div>